:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--text-color);
  background-color: var(--main-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --gap: 10px;
  --image-size: 90px;

  --main-bg-color: #242424;
  --element-bg-color: #2f2f2f;
  --header-bg-color: #444;
  --text-color: rgba(255, 255, 255, 0.87);
  --link-color: #80ff80;

  --handle-color: rgba(255, 255, 255, 0.05);
  --handle-color-hover: rgba(255, 255, 255, 0.15);

  --upload-button-color: rgba(0, 0, 0, 0.3);
  --upload-button-color-hover: rgba(0, 0, 0, 0.1);
  --upload-button-color-active: rgba(255, 255, 255, 0.1);


  transition:
    background-color 0.15s,
    color 0.15s;
}

:root[data-theme='light'] {
  color-scheme: light;

  --main-bg-color: #fef5ea;
  --element-bg-color: #ebdfcc;
  --header-bg-color: #c4baa9;
  --text-color: rgba(0, 0, 0, 0.87);
  --link-color: #006c00;

  --handle-color: rgba(0, 0, 0, 0.05);
  --handle-color-hover: rgba(0, 0, 0, 0.15);

  --upload-button-color: rgba(0, 0, 0, 0.1);
  --upload-button-color-hover: rgba(0, 0, 0, 0.2);
  --upload-button-color-active: rgba(0, 0, 0, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;

    --main-bg-color: #fef5ea;
    --element-bg-color: #ebdfcc;
    --header-bg-color: #c4baa9;
    --text-color: rgba(0, 0, 0, 0.87);

    --handle-color: rgba(0, 0, 0, 0.05);
    --handle-color-hover: rgba(0, 0, 0, 0.15);

    --upload-button-color: rgba(0, 0, 0, 0.1);
    --upload-button-color-hover: rgba(0, 0, 0, 0.2);
    --upload-button-color-active: rgba(0, 0, 0, 0.4);
  }
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a,
a:visited {
  color: var(--link-color);
}

dialog {
  background-color: transparent;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--element-bg-color);
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #444;
}

button:active {
  background-color: #555;
}

.ghost {
  /* not 0 to avoid file icon? */
  opacity: 0.0001;
}

#app {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 70px 1fr 70px;

  text-align: center;
}